

.sidebar .nav-tabs .nav-item {
    padding: 0 !important;
}
.sidebar .nav-tabs .nav-link.active {
    background: none;
    border: none;
    vertical-align: top;
}
.sidebar .nav-item ul li {
    width: auto;
    padding: 0 !important;
    display: inline-block;
    margin: 0 !important;
}
.sidebar li.nav-item ul {
    border: none;
    padding: 10px 0;
}
.sidebar .nav-item {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
}
.sidebar .nav-item ul li {
    width: auto;
}
.sidebar .nav-item .nav-link {
    width: auto !important;padding: 0 10px;
}
ul#accordionSidebar {
    display: block;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border: 1px solid transparent;
}
.card-panel a.card-link.floorList {
    color: #fff;
    /* border: 1px solid #ccc; */
    width: 100%;
    display: block;
    padding: 10px;
    margin: 10px 0;
}
.text-center.d-none.d-md-inline {
    display: block !important;
}
button.btn.btn-finish {
    color: rgba(255,255,255,.4);
}
.card-panel ul li {
    color: rgba(255,255,255,.4);
}
