@font-face {
  font-family: 'HighTowerText-Reg';
  src: url('HighTowerText-Reg.eot?#iefix') format('embedded-opentype'),  url('HighTowerText-Reg.woff') format('woff'), url('HighTowerText-Reg.ttf')  format('truetype'), url('HighTowerText-Reg.svg#HighTowerText-Reg') format('svg');
  font-weight: normal;
  font-style: normal;
}